.contactForm {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 10px;
  justify-content: space-around;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.219);
}

.formContainer {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}
